.login-container {
  display: flex;
  justify-content: center;
  margin-top: 16em;
  text-align: left;
}

.form-box {
  width: 480px;
  border: 1px solid black;
  padding: 2em;
}
.form-container {
  /* text-align: left; */
}

@media only screen and (max-width: 600px) {
  .form-box {
    padding: 0.4em;
  }
}
