.nav-container {
  min-height: 4em;
  background-color: rgb(0, 0, 0);
  padding: 10px;
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
li {
  list-style-type: none;
}
li a {
  list-style-type: none;
  color: white;
  text-decoration: none;
}

.nav-right {
  display: flex;
  gap: 1em;
  justify-content: space-between;
}

@media only screen and (max-width: 600px) {
  .nav-container {
    flex-direction: column;
  }
  .nav-right {
    gap: 1.5em;
  }
}
/* .nav-right > * {
  margin-left: 50px;
} */
