.product-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 1em;
  transition: all 1s ease-out;
}
.product-box {
  /* border: 1px solid black; */
  height: 400px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  padding: 2px 16px;
  position: relative;
  transition: all 0.5s ease-out;
}

.box-image {
  width: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  height: 80%;
  object-fit: cover;
  transition: all 0.5s ease-out;
}
.mid-icons {
  position: absolute;
  color: white;
  z-index: 1;
  font-size: large;
  top: 35%;
  left: 25%;
  display: flex;
  gap: 1em;
  justify-content: center;
  align-items: center;
  transition: all 0.5s ease-out;
}

.product-box:hover {
  background-color: rgb(222, 240, 240);
  /* opacity: 0; */
  opacity: 0.8;
}
.mid-icons {
  opacity: 0;
}

.product-box:hover .mid-icons {
  opacity: 2;
  /* background-color: white; */
  color: black;
  border-radius: 10px;
  padding: 5px;
}

.product-box:hover .icon {
  background-color: white;
  border-radius: 50%;
  height: 35px;
  width: 35px;
  text-align: center;
}
